#*
*$
*.BAK
*.Z
*.bak
*.class
*.db
*.dylib
*.elc
*.ln
*.log
*.o
*.obj
*.olb
*.old
*.orig
*.pyc
*.pyo
*.rej
*~
,*
.#*
.history
.DS_Store
.del-*
.deployables
.make.state
.nse_depinfo
.wepycache
.svn
CVS.adm
RCS
RCSLOG
SCCS
_$*
_svn

.git
.project
.idea
.vscode
.vs

typings
tsd.json
tsconfig.json
jsconfig.json
package-lock.json

nohup.out

node_modules
bower_components

dist
package
src/scripts/pages/datasource/dataSource.js

